<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="data.xml"/>
	<bean name="/test.do" class="test.TestController" />
	<!-- spring webmvc에서 지원하는 API들 사용 -->
	<!-- 1. ViewResolver를 등록 -->
	<bean id="resolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	
	<!-- 화면을 보여주는 컨트롤러 -->
	<bean name="/index.do" class="emp.controller.IndexController"/>
	<bean name="/insert_form.do" class="emp.controller.InsertFormController"/>

	<!--  비즈니스 로직을 위한 빈 -->
	<bean id="dao" class="emp.dao.MyEmpDAOImpl">
		<constructor-arg ref="template"/>
	</bean>
	<bean id="service" class="emp.service.MyEmpServiceImpl">
		<property name="dao" ref="dao"/>
	</bean>
	<!-- 기능을 수행하는 컨트롤러 -->
	<bean name="/list.do" class="emp.controller.ListController">
		<constructor-arg ref="service"/>
	</bean>
</beans>